<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <div class="bg-image"></div>
  <head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#050307">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Djouad SAHLI</title>
    <script src="./nav.js" type="module"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,600;0,800;1,600;1,800&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/bg.css">
    <link rel="stylesheet" type="text/css" href="assets/css/menu.css">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
        <script src="nav.js" type="module"></script>
    
  </head>
  
  
  <body>

    <!--

    <link rel="stylesheet" href= "/assets/css/menu.css" >
    <nav class="menu-container">-->
        <!-- burger menu -->
        <!--
        <input type="checkbox" aria-label="Toggle menu" />
        <span></span>
        <span></span>
        <span></span>
      -->
        
        <!-- menu items -->
        <!-- 
        <div class="menu">
          <ul>
            <li>
              <a href="/index.md">
                Home
              </a>
            </li>
            <li>
              <a href="/blog.md">
                Blog
              </a>
            </li>
            <li>
              <a href="/ressources.html">
                Ressources
              </a>
            </li>
         
          </ul>
          <ul>
          </ul>
        </div>
      </nav>
    
    -->




    <div class="wrapper">
      <header>
      

        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>

      <div class="resume-content col-md">
        <h3>Technical Skills</h3>
        
        <div class="subheading mb-1">Main Programming Languages</div>
<ul class="list-inline dev-icons">


<li class="list-inline-item" data-toggle="popover" data-placement="right" data-content="Python" data-original-title="" title="">
    <i class="fab fa-python"></i>
</li>




<li class="list-inline-item" data-toggle="popover" data-placement="right" data-content="Java" data-original-title="" title="">
    <i class="fab fa-java"></i>
</li>





<img src="/resume/assets/img/logos/Go-Logo_Grey.svg" onmouseover="this.src='/resume/assets/img/logos/Go-Logo_Blue.svg';" onmouseout="this.src='/resume/assets/img/logos/Go-Logo_Grey.svg';" width="65" data-toggle="popover" data-placement="right" data-content="Go" data-original-title="" title="">



<li class="list-inline-item" data-toggle="popover" data-placement="right" data-content="React Native" data-original-title="" title="">
    <i class="fab fa-react"></i>
</li>



</ul>
        
        <div class="subheading mb-1">Other Programming Languages</div>
<ul class="list-inline dev-icons">



<img src="/resume/assets/img/logos/bash-greyscale.svg" onmouseover="this.src='/resume/assets/img/logos/bash-color.svg';" onmouseout="this.src='/resume/assets/img/logos/bash-greyscale.svg';" width="50" data-toggle="popover" data-placement="right" data-content="Bash" data-original-title="" title="">




<img src="/resume/assets/img/logos/ruby-greyscale.svg" onmouseover="this.src='/resume/assets/img/logos/ruby-color.svg';" onmouseout="this.src='/resume/assets/img/logos/ruby-greyscale.svg';" width="40" data-toggle="popover" data-placement="right" data-content="Ruby" data-original-title="" title="">



<li class="list-inline-item" data-toggle="popover" data-placement="right" data-content="JavaScript" data-original-title="" title="">
    <i class="fab fa-js"></i>
</li>




<li class="list-inline-item" data-toggle="popover" data-placement="right" data-content="Angular" data-original-title="" title="">
    <i class="fab fa-angular"></i>
</li>





<img src="/resume/assets/img/logos/cpp-greyscale.svg" onmouseover="this.src='/resume/assets/img/logos/cpp-color.svg';" onmouseout="this.src='/resume/assets/img/logos/cpp-greyscale.svg';" width="40" data-toggle="popover" data-placement="right" data-content="C/C++" data-original-title="" title="">


</ul>
        
        <div class="subheading mb-1">Cloud Computing &amp; Databases</div>
<ul class="list-inline dev-icons">


<li class="list-inline-item" data-toggle="popover" data-placement="right" data-content="Amazon Web Services" data-original-title="" title="">
    <i class="fab fa-aws"></i>
</li>





<img src="/resume/assets/img/logos/mongodb.svg" onmouseover="this.src='/resume/assets/img/logos/mongodb-blue.svg';" onmouseout="this.src='/resume/assets/img/logos/mongodb.svg';" width="50" data-toggle="popover" data-placement="right" data-content="MongoDB" data-original-title="" title="">




<img src="/resume/assets/img/logos/sql-server.svg" onmouseover="this.src='/resume/assets/img/logos/sql-server-blue.svg';" onmouseout="this.src='/resume/assets/img/logos/sql-server.svg';" width="50" data-toggle="popover" data-placement="right" data-content="SQL" data-original-title="" title="">




<img src="/resume/assets/img/logos/k8s_grey.svg" onmouseover="this.src='/resume/assets/img/logos/k8s_color.svg';" onmouseout="this.src='/resume/assets/img/logos/k8s_grey.svg';" width="50" data-toggle="popover" data-placement="right" data-content="Kubernetes" data-original-title="" title="">



<li class="list-inline-item" data-toggle="popover" data-placement="right" data-content="Docker" data-original-title="" title="">
    <i class="fab fa-docker"></i>
</li>



</ul>
        
        <div class="subheading mb-1">Most used Tools</div>
<ul class="list-inline dev-icons">



<img src="/resume/assets/img/logos/jetbrains-greyscale.svg" onmouseover="this.src='/resume/assets/img/logos/jetbrains.svg';" onmouseout="this.src='/resume/assets/img/logos/jetbrains-greyscale.svg';" width="50" data-toggle="popover" data-placement="right" data-content="Jetbrains IDE" data-original-title="" title="">



<li class="list-inline-item" data-toggle="popover" data-placement="right" data-content="Github" data-original-title="" title="">
    <i class="fab fa-github"></i>
</li>





<img src="/resume/assets/img/logos/notion-grey.svg" onmouseover="this.src='/resume/assets/img/logos/notion-blue.svg';" onmouseout="this.src='/resume/assets/img/logos/notion-grey.svg';" width="50" data-toggle="popover" data-placement="right" data-content="Notion" data-original-title="" title="">



<li class="list-inline-item" data-toggle="popover" data-placement="right" data-content="Slack" data-original-title="" title="">
    <i class="fab fa-slack"></i>
</li>




<li class="list-inline-item" data-toggle="popover" data-placement="right" data-content="Google Drive" data-original-title="" title="">
    <i class="fab fa-google-drive"></i>
</li>




<li class="list-inline-item" data-toggle="popover" data-placement="right" data-content="Trello" data-original-title="" title="">
    <i class="fab fa-trello"></i>
</li>



</ul>
        
    </div>

























      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}





  </body>
</html>
