
<link rel="stylesheet" href= "menu.css" >
<nav class="menu-container">
    <!-- burger menu -->
    <input type="checkbox" aria-label="Toggle menu" />
    <span></span>
    <span></span>
    <span></span>
  
    
    <!-- menu items -->
    <div class="menu">
      <ul>
        <li>
          <a href="#home">
            Home
          </a>
        </li>
        <li>
          <a href="#pricing">
            Blog
          </a>
        </li>
        <li>
          <a href="#blog">
            Ressources
          </a>
        </li>
        <li>
          <a href="#docs">
            About
          </a>
        </li>
      </ul>
      <ul>
      </ul>
    </div>
  </nav>